@import 'grid';
@import 'colors';
@import 'typography';

.pad {
	padding: 4em 0;
	text-align: center;
}

#announcement {
	background-color: $color-green;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	position: relative;
  background-image: url(../img/green-720.jpg);

  @media (min-width: 721px) { //  and (max-width: 1080px)
    background-image: url(../img/green-1080.jpg);
  }

  @media
    (min-width: 1081px) and (-webkit-min-device-pixel-ratio: 2),
    (min-width: 1081px) and (min-resolution: 192dpi)
  {
    background-image: url(../img/green-2x.jpg);
  }

	#logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 60%;
	}
}

.info-window {

  &__title {
    font-weight: bold;
  }
}

#details p {
	font-size: 1em;
}

#map {
	height: 50vh;
	min-height: 600px;
}

.bottom-rule {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		width: 600px;
		background: #eee;
		left: 50%;
		transform: translateX(-50%);
		height: 1px;
	}
}

footer {
	text-align: center;
	background: $color-green;
	color: $color-white;
	font-size: .8em;
}

#registries img {
	max-width: 100%;

	@media (max-width: 992px) {
		max-width: 300px;
		margin: 2em 0;
	}
}

#dine,
#do {
  .flex-2-col {
    @media (min-width: 721px) {
      display: flex;
      justify-content: center;
    }
  }
}
